#body{
    background-color: rgba(255, 218, 112, 0.2);
}

.container{
    background-color: rgba(247, 0, 255, 0.2);
}

.container-fluid{
    background-color: rgba(255, 0, 179, 0.2);
}

.row{
    background-color: rgba(0, 255, 157, 0.2);
}

.col-12{
    background-color: rgba(0, 255, 225, 0.2);
}

.navbar{
    background-color: rgba(255, 0, 0, 0.2);
}